.shehu-card img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 10px;
}
.shehu-card{
    background: var(--bg) !important;
    margin: 20px 0px;
    font-family: var(--Open-Sans);
}

.shehu-title p{
    opacity: 40%;
    font-size: var(--open-sans);
}

.shehu-title p:active{
    opacity: 100%;
}

.container h2, h5, p{
    font-family: Open Sans;

}

.container h5{
    font-size: 14px;
}

.shehu-comm{
    padding-top: 100px;
    width: 95%;
    margin: 0 auto;
}

.shehu-card-body{
    width: 90%;
    margin: 0 auto;
}

@media (min-width:760px) {
    .shehu-card-body{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .shehu-comm{
        width: 85%;
        margin-left: 115px;
        padding-top: 100px;
        padding-left: 50px;
        z-index: 0;
      }
     
}



@media (min-width:900px) {
    .shehu-card-body{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .shehu-comm{
        width: 83%;
    margin-left: 234px;
    padding-top: 150px;
    padding-left: 50px;

    }
}
