
.head{
    position: fixed !important;
    width: 80%;
    margin-left: 60px;
    margin-top: -1px;
    padding-top: 0px;
}

.head h1{
    color: var(--white-200, #F7F7F7);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
  
  .head, .inp{
    background: var(--primary) !important;
    
  }
  
  .inp{
    border-radius: 20px;
    border: 0.3px solid #FFFFFF;
  }
  
  .kk input{
    height: 30px;
  }
  
  .inp::placeholder{
    padding-left: 35px;
    color: var(--white-100, #FFF);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
  
  .shehu-head-tag img{
    width: 40px;
    height: 40px;
  }


  .tag select{
    background: var(--primary);
    border: none;
    color: #FFF;
    height: 23px;
  }

@media (min-width:760px) {
  .head{
    width:84%;
    margin-left: 126px;
  }
  .shehu-kk{
    gap: 23.5rem;
  }
  
  }

  @media (min-width: 900px) {

    .shehu-kk{
      gap: 0rem;
    }
    .kk input{
      height: 40px;
    }
    .kk box-icon{
      top: 20px !important;
      width: 30px;
      left: 33px;
    }
    .inp{
      width: 380px;
      border: 0.3px solid #FFFFFF;
    height: 40px;
    margin-top: 10px;
    }
    .head{
    width: 85%;
    margin-left: 214px;
    }
    .tag img{
      width: 40px;
      height: 40px;
    }
    .tag p{
      font-size: 10p;
      width: 120px;
    }
    .mt{
      width: 70%;
    }
    .tag select{
      background: var(--primary);
      border: none;
      color: #FFF;
      margin-bottom: 10px; margin-right: 20px;
      height: 60px;
    }
  }
  