.hero-text h2 {
 font-family: var(--Open-Sans);
 color: var(--black);
 font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.hero-text p{
 color: var(--black);
  font-family: var(--Open-Sans);
  font-size: 0.95rem;
  padding-block: 0.5rem;
}
.hero-text button{
 font-family: var(--Open-Sans);
  font-size: 0.7rem;
  font-weight: 400;
}
.hero-text button:hover{
  background-color: transparent;
  color: var(--primary);

}

.hero-sec{
 display: flex;
 flex-direction: column;
 gap: 1rem;
}


@media (min-width: 768px) {
 .hero-sec {
   display: flex;
    flex-direction: row-reverse;
   gap: 2rem;
  }
  .hero-text{
   width: 80%;
  }
  .hero-text h2{
   font-size: 1.5rem ;
  }
  .hero-text p{
   font-size: 1rem;
  }
  .hero-text button{
    font-size: 0.8rem;
  }
}


@media (min-width: 900px) {
 .hero-text {
  width: 70%;
 }

 .hero-text h2 {
  font-size: 2.4rem;
 }

 .hero-text p {
  font-size: 1.5rem;
 }
 .hero-text button{
  font-size: 1.3rem;
 }
} 


@media (min-width: 1400px) {
  .hero-text {
    width: 50%;
  }

  .hero-text h2 {
    font-size: 3rem;
  }

  .hero-text p {
    font-size: 1.5rem;
  }
  .hero-text button{
    font-size: 1.3rem;
  }
}


