.job-body-main{
  /* height: 2633px; */
  background: #f9f9f9;
  height: 100%;
  padding-bottom: 50px;
}

.job-header{
  color: #1F2666;
font-family: Open Sans;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.job-header-button{
/* padding: 15px 10px; */
align-items: center;
background: #E3E3E3;
color:#1E1E1E;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
outline: none;
border: none;
}

.job-header-image{
  width: 10.741px;
height: 18.765px;
}

.header-body{
    display: flex;
    gap: 260px;

}

.card-main-body {
  /* display: inline-flex; */
  /* padding-top: 80px; */
  /* height: 1241px; */
  /* flex-direction: column; */
  align-items: center;
  /* gap: 80px; */
  border-radius: 5px;
  border-top: 12px solid #0266f4;
  background: #fff;
  box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.15);
  /* border: none; */
  /* width: 1241px; */
}

/* card{ */
    /* border-top: 20px solid #0266f4; */
/* } */

.button-main {
  background: #f9f9f9;
  display: flex;
  /* padding: 20px 106px 20px 982px; */
  /* flex-direction: row; */
  justify-content: end;
  align-items: flex-start;
  gap: 10px;
}

.custom-select {
    position: relative;
    display: inline-block;
  }
  
  /* Style for the selected item */
  .select-selected {
    background-color: #f2f2f2;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  /* Style for the dropdown options */
  .select-items {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    border-top: 1px solid #ddd;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
  }
  
  .select-items div {
    padding: 10px;
    cursor: pointer;
  }
  
  /* Show the options when the select is clicked */
  .custom-select.open .select-items {
    display: block;
  }
  
option{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.job-title-input{
padding: 20px 259px 20px 15px;
border-radius: 5px;
border: 1px solid #BABABA;
width: 229px;
/* outline: none; */
/* height: 50px; */
}

.job-title-input::placeholder{
  color: #1E1E1E;
/* leading-trim: both; */
/* text-edge: cap; */
font-family: 'Open Sans', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
}

.job-location-input{
padding: 20px 259px 20px 15px;
border-radius: 5px;
border: 1px solid #BABABA;
/* outline: none; */
}

.position-select{
  width: 481px;
  height: 51px;
  flex-shrink: 0;
}

.experience-select{
  /* display: flex; */
  width: 481px;
  height: 51px;
  /* flex-direction: column; */
  /* justify-content: flex-end; */
  /* align-items: flex-start; */
  gap: 20px;
  flex-shrink: 0;
}

.pay-range-select{
  width: 482px;
  height: 51px;
  padding-right: 0px;
  gap: 20px;
  flex-shrink: 0;
}

.applicant-select{
  width: 482px;
  height: 51px;
  gap: 20px;
  flex-shrink: 0;
}

textarea {
  border: none;    
  padding: 0;      
  resize: none;     
}

.job-location-input::placeholder{
  color: #1E1E1E;
/* leading-trim: both; */
/* text-edge: cap; */
font-family: 'Open Sans', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
}

.job-description-input{
padding: 20px 740px 300px 15px;
border-radius: 5px;
border: 1px solid #BABABA;
}

.minimum-qualification-input{
padding: 20px 0px 300px 15px;
width: 940px;
border-radius: 5px;
border: 1px solid #BABABA;
}

.responsibilities-input{
padding: 20px 607px 300px 15px;
border-radius: 5px;
border: 1px solid #BABABA;
}

.choice-con{
  display: flex;
  width: 95%;
  /* justify-content: space-between; */
  gap: 10px;
  margin-top: 15px;
  flex-wrap: wrap;
}

.checked-icon{
  display: none;
  
}

.choice-input{
  width: 100% !important;
}

.plus-btn{
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 4px;
}

.input-con{
  position: relative;
}

.checked-text{
  background-color: rgba(186, 186, 186, 1);
  padding: 10px 20px;
  color: white;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.checked-icon:checked + .checked-text {
  background-color: black !important;
}
.multiple-choice{
  width: 50%;
}

.cancel-button{
  width: 153px;
  padding: 8px 50px;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
border: 1px solid #CE1126;
color: #CE1126;
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 22px; 
}

.submit-button{
  width: 153px;
  padding: 8px 50px;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
background: #0266F4;
color: #FFF;
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 22px; 
outline: none;
border: none;
}