.login {
  height: 100vh;
}

.frame-1 {
  background: var(--colors-hover, #0266f4);
  height: 100%;
}

.brand-container {
  width: 520px;
  height: 481px;
}

.frame-2 {
  padding-inline: clamp(1rem, 5%, 4rem);
  width: 100%;
  height: 100%;
}

.login-content {
  border-radius: 20px;
  width: 100%;
  background: #d9d9d9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.login-content-padding {
  padding-block: 14px;
  padding-inline: 5%;
}

.blue-top {
  border-radius: 20px 20px 0px 0px;
  background: var(--colors-hover, #0266f4);
  height: 15px;
}

.line {
  background-color: black;
}

.login form, .guest-sign-up form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.login-email label,
.login-password label {
  color: var(--colors-font, #000);
  font-size: 14px;
}

.login-email input,
.login-password input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgba(29, 28, 28, 0.5);
  background: var(--colors-primary, #fff);
  outline: none;
  padding-left: 13px;
}

.login-heading h1 {
  color: #1a1a1a;
  font-family: Open Sans;
  font-size: 28.906px;
  font-weight: 700;
}

.login-heading p {
  color: var(--colors-font, #000);
  font-family: Open Sans;
  font-size: clamp(14px, 3vw, 20px);
  font-weight: 400;
}

.lineIcon {
  width: 100%;
}


@media screen and (min-width: 992px) {
  .login-email input,
  .login-password input {
    height: 50px;
  }

  .frame-1 {
    width: 50%;
  }

  .frame-2 {
    padding-block: 5rem;
    width: 50%;
  }

  .login-content-padding {
    padding-inline: 8%;
  }

  .btn-primary {
    height: 50px;
  }
}
