.new-password {
  position: relative;
}

.new-password .container {
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-password .body {
  max-width: 520px;
}

.new-password .body {
  color: #000;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
}

.new-password-heading {
  margin-bottom: 49px;
}

.new-password .body form.error input {
  border: 1px solid red;
}

.new-password .body form.error input::placeholder {
  color: red;
}

.form-div {
  position: relative;
}

.form-div label {
  text-align: left;
  margin-bottom: 20px;
}

.form-div img {
  position: absolute;
  right: 15px;
  top: 60%;
  width: 22px;
}

.form-div input::placeholder {
  color: #1e1e1e;
  font-family: Open Sans;
  font-size: 14.29px;
  font-weight: 400;
}

.error-message {
  color: red;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
}
