.new-password {
  position: relative;
}

.new-password .container {
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-password .body {
  max-width: 520px;
}

.new-password .body {
  color: #000;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
}

.new-password-heading {
  margin-bottom: 40px;
}


.form-div {
  position: relative;
}

.form-div label {
  text-align: left;
  margin-bottom: 15px;
}

.input-field {
  width: 100%;
  position: relative;
}

.input-field input {
  width: 100%;
  padding-inline: 10px;
}

.form-div img {
  position: absolute;
  right: 15px;
  top: 30%;
  width: 22px;
}

.form-div input::placeholder {
  color: #1e1e1e;
  font-family: Open Sans;
  font-size: 14.29px;
  font-weight: 400;
}

.error-message {
  font-size: 13px;
  color: red;
  font-weight: 700;
  margin: 0;
  text-align: left;
}
