.modalBackground {
  background-color: rgba(3, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}



.modal-container {
  max-width: 611px;
  min-width: 400px;
  height: fit-content;
  margin: 0 auto;
  border-radius: 20px;
}

.modal-container .header {
  padding-block: 2rem;
}

.modal-container .header .tick {
  width: 30px;
  height: 30px;
}

.modal-container .content {
  background-color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px 15px 30px;
}

.modalBackground .content .heading {
  color: var(--blue-300, #1f2666);
  font-family: Open Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.96px;
  text-transform: capitalize;
}

.modalBackground .content p {
  max-width: 489px;
  color: #4c4d50;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  margin-inline: auto;
}

.modalBackground .content button {
  padding: 10px 33px;
  margin-top: 10px;
}
