.profiles {
  padding-top: 51px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.profile-card {
  height: 264px;
  /* margin-bottom: 3.6875rem; */
  margin-bottom: 5rem;
}

.profile-card-container {
  background-color: #d2d4e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 1rem;
  height: fit-content;
}

.profile-card-image {
  width: 164px;
  height: 164px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-card-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile-card p {
  margin-bottom: 0;
}

.profile-card-name {
  color: #000;
  font-size: 18px;
  font-weight: 800;
}

.profile-card-community {
  color: #0266f4;
  /* color: #000; */
  font-size: 16px;
  font-weight: 600;
}

.profile-card-cohort {
  color: #000;
  font-size: 14px;
    font-weight: 400;
}
