.background2{
  background-color: var(--primary);
  height: 120px;
  padding: 15px;
}
.workers2{
    height: 30vh;
}
.background2 img{
    height: 50px;
    width: 50px;
}
.Writers2 h2{
    font-family: var(--font-family);
    color: var(--primary);
    font-size: 2rem;
    font-weight: 700;
letter-spacing: 0.96px;
text-transform: capitalize;
}
.Writers2 p{
    font-family: var(--font-family);
    color: var(--primary);
    font-weight: 400;
    font-size: 1.1rem;
}
.Writers2 button{
    background-color:var(--primary);
    border-radius: 10px;
    padding: 5px 33px;
    color: var(--bg2);
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 700;
}
.Writers2 button:hover{
    cursor: pointer;
    background-color: #0266F4;
    color: var(--bg2);
    font-weight: 700;
    text-transform: capitalize;
    border: solid #0266F4;
}
.Delete b{
    font-family: var(--font-family);
    color: #4C4D50;
    font-weight: 600;
}
.Joke b{
    font-family: var(--font-family);
    font-weight: 600;
    color: #4C4D50;
}
@media (min-width:760px) {
   .worker2{
    width: 500px;
    margin: auto;
    height: 50vh;
   } 
}