#root{
    overflow: hidden;
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.sidebarr{
    position: fixed;
    top: 0; left:0;
    height: 600px;
    width: 43px;
    background: #11101d;
    padding: 6px 14px;
    transition: all 0.5s ease;
    z-index: 1999;

}

.sidebarr.active{
    width: 230px;
}

.sidebarr .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    /* width: 100%; */
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;

}

.sidebarr.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;

}

.logo_content .logo{
    position: relative;
    left: 40%;
}

.logo_content .logo img{
    font-size: 10px;
    margin-right: 5px;
    width: 40px;
}

.logo_content .logo .logo_name{
    font-size: 12px;
    font-weight: 400;
}
.sidebarr #btn{
    position: absolute;
    color: #fff;
    /* left: 50%; */
    margin-left: 5px;
    top: 6px;
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #btn{
    /* left: 90% !important; */
}

.sidebarr ul{
    margin-top: 10px;
    position: relative;
    left: -50px;
    width: 30px;
    height: 30px;
}

.sidebarr.active ul{
    left: -40px;
}

 .sidebarr ul li input{
    position: absolute;
    height: 100%;
    width: 80%;
    left: 0; top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1d1d31;
    padding-left: 40px;
    color: #fff;
 }
 

 .sidebarr.active ul li input{
    width: 100px;
 }

 .sidebarr ul li .bx-search{
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 22px;
    transition: all 0.5 ease;
    top: 15px; left: 10px;
 }

 .sidebarr ul li .bx-search:hover{
    background: #fff;
    color:#1d1d31;
 }

 .sidebarr ul li .tooltip{
    position: absolute;
    left:100px ;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
 }

 .sidebarr.active ul li .tooltip{
    display: none;
 }

 .sidebarr ul li:hover .tooltip{
    top: 50%;
    transition: all 0.5s ease;
    opacity: 1;
 }

.sidebarr ul li{
    position: relative;
    height: 50px;
    width: 70%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}
.sidebarr ul li a{
    color: #fff;
    display: flex;
    gap: 5px;
    font-size: 14px;
    align-items: center;
    text-decoration: none;
    transition: all 0.5s ease;
    border-radius: 12px ;
    white-space: nowrap;
}

.sidebarr ul li a:hover{
    color: #11101d;
    background: #fff;
}
.sidebarr ul li  box-icon{
    height: 30px;
    min-width: 30px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    margin-left: 5px;
}

.sidebarr .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebarr.active .links_name{
    opacity: 1;
    pointer-events: auto;
}

.sidebarr .profile_content{
    position: absolute;
    color: #fff;
    bottom: 0; left: 0;
    width: 100%;
}

.sidebarr .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    transition: all 0.4s ease;
    background: none;
    
}

.sidebarr.active .profile_content .profile{
    background: #1d1d31;
}

.profile_content .profile .profile-details{
    display: flex;
    align-items: center;
    opacity:0 ;
    pointer-events: none;
    white-space: nowrap;
}

.sidebarr.active .profile .profile-details{
    opacity:1 ;
    pointer-events: auto;
}

.profile .profile-details img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.profile .profile-details .name{
    font-weight: 400;
    font-size: 15px;
}

.profile .profile-details .job{
    font-size: 15px;
}
.profile .profile-details .name_job{
    margin-left: 10px;
}

.profile #log_out{
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.4s ease;
    background: #1d1d31;

}

.sidebarr.active .profile #log_out{
    left: 88%;

}

.sidebarr.active .profile #log_out{
    background: none;
}

.home_content{
    position: absolute;
    height: 100%;
    width:calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.home_content .text{
    font-size: 25px;
    font-weight: 500;
    color: #1d1d31;
    margin-top: 10px;
}

.sidebarr.active ~ .home_content{
    width: calc(100% - 240px);
    left: 240px;

}