div h2{
    font-family: var(--font-family);
font-size: 1.4rem;
font-weight: 700;
line-height: 20px;
letter-spacing: 0.02em;
color: #000000;
}
article{
width: 290px;
height: 55px;
font-family: var(--font-family);
font-size: 1rem;
font-weight: 400;
}
.Handle1 button{
  width:144px;
height:50px;
padding: 10px, 40px, 10px, 40px;
border-radius: 7px;
border: 1px solid  #000000;
  background-color: #fff;
  color: #000000;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 1.2rem;
}
.Handle2 button{
  width:144px;
height:50px;
padding: 10px, 40px, 10px, 40px;
border-radius: 7px;
border: 1px solid  #FF0909;
  background-color: #fff;
color: #FF0909;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 1.2rem;
}