.shehu-upload{
    margin: 20px 0px;
}
.adex{
    width: 95%;
    margin: 0 auto;
padding-top: 100px;
}

.shehu-link-pub button{
    display: inline-flex;
margin-left: 10px;
align-items: center;
border-radius: 10px;
border: 1px solid #000;

color: #000;
text-align: center;
font-family: Open Sans;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 36px */
letter-spacing: 0.48px;
}

.shehu-link-pub h2{
    color: #060606;
font-family: Open Sans;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 45px */
letter-spacing: 0.6px;
}

.shehu-upload label{
    color: #000;
text-align: center;
font-family: Open Sans;
font-style: normal;
font-weight: 600;
line-height: 150%; 
letter-spacing: 0.48px;
padding-bottom: 5px;
padding-left: 16px;
}

.shehu-upload span{
    color: #6A6767;
text-align: center;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 30px */
letter-spacing: 0.4px;
text-transform: lowercase;
}

.shehu-upload input{
    display: flex;
width: 95%;
margin: 0 auto;
padding-left: 6px;
align-items: center;
gap: 10px;
border-radius: 10px;
background: #D9D9D9;
}

.button-cancel{
    background: #fff;
    display: flex;
    width: 95%;
    margin: 10px auto;
justify-content: center;
align-items: center;
border-radius: 10px;
border: 1px solid #F00;
color: #F00;
text-align: center;
font-family: Open Sans;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 150%; 
letter-spacing: 0.48px;
}

.button-pub{
    display: flex;
    width: 95%;
    margin: 10px auto;
justify-content: center;
align-items: center;
border-radius: 10px;
background:  #0266F4;
border: none;
color: var(--colors-primary, #FFF);
text-align: center;
font-family: Open Sans;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 150%; 
letter-spacing: 0.48px;
text-transform: capitalize;
}


.shehu-dd{
    display: flex;
    width: 95%;
    margin: 30px auto;
height: 207px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 30px;
border: 2px dashed var(--colors-hover, #0266F4);
}

.shehu-dd p{
    color: #6A6767;
text-align: center;
font-family: Open Sans;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 18px */
letter-spacing: 0.24px;
text-transform: capitalize;
}

@media (min-width:760px) {
    .adex{
        width: 85%;
        margin-left: 105px;
        padding-top: 100px;
        padding-left: 50px;
        z-index: 0;
    }

    .shehu-link-pub button{
        position: relative;
        top: 52px;
    }
}

@media (min-width:900px) {

    .adex{
        width: 83%;
    margin-left: 204px;
    padding-top: 150px;
    }

    .shehu-link-pub button{
       
        top: 62px;
    }

    .shehu-link-pub button{
      padding: 10px;
      gap: 10px;
      font-size: 24px;
    }

    .shehu-link-pub h2{
        font-size: 30px;
    }

    .shehu-upload label{
        font-size: 24px;
        padding-left: 44px;
    }

    .shehu-upload input{
        padding: 15px 300px 15px 15px;
    }

    .button-cancel, .button-pub{
        padding: 15px 30px;
        gap: 10px;
    }

    .shehu-dd{
        padding: 10px 15px;
        gap: 4px;
        width: 45%;
        height: 307px;
    }

    .shehu-dd img{
        margin: 0 10px;
    }
    .shehu-dd-plus p{
        width: 43%;
        margin: 0 auto;
    }

    .shehu-butt{
        width: 95%;
        margin: 0 auto;
        gap: 40px;
    }
}

