#root {
overflow-x: hidden;
width: 100%;
  margin: 0;
  padding: 0;
box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root{
  --primary:#1F2666;
--bg: #DCE9FA;
--bg2: #F5F6FA;
  --secondary: #1E1E1E;
 --font-family: 'Open Sans', sans-serif;

}