<<<<<<< HEAD
=======
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

>>>>>>> 2cf72b440c891a07c9baf9320e55455d8805674a
